<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">

</head>

<body>
    <div class="register-container">
        <div class="register-image-logo-container">
            <img th:src="@{/images/jardim-image.jpg}" alt="Logo PUC minas">
        </div>
        <div class="register-form">
            <form th:action="@{/register}" method="post" class="register-form">
                <h4 class="register-title">Login</h4>
                <input type="text" id="username" name="username" placeholder="Username" required>
                <input type="email" id="email" name="email" placeholder="E-mail" required>
                <input type="text" id="cpf" name="cpf" placeholder="CPF" required>
                <input type="text" id="rg" name="rg" placeholder="RG" required>
                <input type="text" id="endereco" name="endereco" placeholder="Endereco" required>
                <input type="text" id="instituicao" name="instituicao" placeholder="Instituicao" required>
                <input type="password" id="password" name="password" placeholder="Senha" required>
                <div class="register-button-container">
                    <button type="submit">Registar</button>
                </div>
                <p class="register-redirect-options">
                    Ja possui conta? <br>
                    <a href="/login">Faca Login</a>
                </p>
            </form>
        </div>
    </div>
</body>

</html>