<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Recover Page</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
<div class="login-container">
    <div class="login-image-logo-container">
        <img th:src="@{/images/logo-puc-colorida.png}" alt="Logo PUC Minas">
    </div>
    <div class="login-form">
        <form th:action="@{/resetpassword}" method="post" class="login-form">
            <h4 class="login-title">E-mail de recuperação:</h4>
            <input type="email" id="email" name="email" placeholder="E-mail" required>
            <input type="password" id="novaSenha" name="novaSenha" placeholder="Nova Senha" minlength="3" required>
            <input type="password" id="confirmarSenha" name="confirmarSenha" placeholder="Confirmar Senha" required>
            <p style="color: red; margin-bottom: 10px;" th:if="${erro}" th:text="${erro}"></p>
            <div class="login-button-container">
                <button type="submit">Recuperar senha</button>
            </div>
            <p class="login-redirect-options">
                Lembrou sua senha? <a th:href="@{/login}" style="color: #FF743C; font-weight: bold; margin-left: 5px;">Faça login</a>
            </p>
        </form>
    </div>
</div>
</body>

<script>
    const parametrosDaUrl = new URLSearchParams(window.location.search);
    const emailExtraido = parametrosDaUrl.get('email');

    if (emailExtraido) {
        const campoEmail = document.getElementById('email');
        campoEmail.value = emailExtraido;
        campoEmail.readOnly = true;
    }
</script>

</html>