<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estações de Rádio em BH</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<aside>
    <div class="nav">
        <i th:href="@{/}" data-lucide="house"></i><a class="aNav" th:href="@{/}">Home</a></div>
    <div class="nav">
        <i th:href="@{/favorites}" data-lucide="heart"></i>
        <a class="aNav" th:href="@{/favorites}">Favoritos</a></div>
</aside>
<div class="container">
    <h1>Estações de rádio em Belo Horizonte</h1>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Favicon</th>
            <th>Nome</th>
            <th>Player</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="station, iterStat : ${stations}">
            <td th:text="${iterStat.index + 1}"></td>
            <td>
                <img class="favicon"
                     th:src="${station.favicon}"
                     th:alt="Favicon"/>
            </td>
            <td class="break-word">
                <a th:href="${station.homepage}" th:text="${station.name}"></a>
            </td>
            <td>
                <div class="audio-container">
                    <button class="play-btn" data-player-button>
                        <i data-lucide="play"></i>
                    </button>
                    <audio data-player-audio th:src="${station.url}" preload="none"></audio>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://unpkg.com/lucide@1.47.0/dist/umd/lucide.min.js"></script>
<script>
    function setIcon(btn, name) {
        const icon = btn.querySelector('[data-lucide]');
        icon.setAttribute('data-lucide', name);
        lucide.createIcons();
    }
    const current = {audio: null, btn: null};

    document.querySelectorAll('[data-player-button]').forEach(btn => {
        btn.addEventListener('click', () => {
            const audio = btn.parentElement.querySelector('audio');

            if (current.audio && current.audio !== audio) {
                current.audio.pause();
                setIcon(current.btn, 'play');
            }

            if (audio.paused) {
                audio.play();
                setIcon(btn, 'pause');
                current.audio = audio;
                current.btn = btn;
            } else {
                audio.pause();
                setIcon(btn, 'play');
                current.audio = current.btn = null;
            }
        })
    })
    lucide.createIcons();
</script>
</body>
</html>